<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<appSettings>
		<!--EndPoint of Api purtel-->
		<add key="Gateway" value="https://ipcom.purtel.com/index.php" />

		<!--authentification-->
		<add key="Username" value="SuperUserName" />
		<add key="Passwort" value="SuperPw" />

		<!--API Url template-->
		<add key="ApiUrlTemplate" value="{0}?super_username={1}&amp;super_passwort={2}&amp;action={3}"  />
		
	</appSettings>
	
	
</configuration>